body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #333;
    overflow-x: hidden;
}

.container {
    background-color: #F7F8FB;
    padding: 1rem;
    height: calc(100% - 3rem);
    overflow-y: auto;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.doctor-photo {
    width: 5rem;
    height: 5rem;
    border-radius: .75rem;
    object-fit: none;
}

.welcome {
    height: 5rem;
    display: flex;
    flex-direction: column;
}

.welcome p {
    margin: 0;
    flex: 1;
    font-size: 1rem;
    color: #2260FF;
}

.welcome .h2 {
    flex: 3;
    display: flex;
    align-items: flex-end;
}

.welcome h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #000;
    font-weight: normal;
}

.schedule-reminder {
    margin-top: .625rem;
}

.schedule-reminder h3 {
    font-size: 1rem;
    margin: .5rem 0;
    color: #242E49;
}

.dates {
    display: flex;
    justify-content: space-between;
}

.date {
    background-color: #fff;
    padding: .375rem;
    border-radius: 1rem;
    text-align: center;
    height: 4rem;
    width: 2.2rem;
    font-size: .625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-number {
    font-size: 1.5rem;
}

.date-week {
    font-size: .625rem;
}

.date.active {
    background-color: #007BFF;
    color: white;
}

.reminder-details {
    margin-top: .375rem;
    background-color: #fff;
    border-radius: .9375rem;
    padding: .625rem;
    position: relative;
}

.reminder-details p {
    margin: .125rem 0;
}

.time-block {
    display: flex;
    align-items: center;
    height: 2rem;
}

.time {
    width: 2.5rem;
    text-align: left;
    font-size: .825rem;
    color: #007BFF;
}

.time-line {
    width: 100%;
    height: .09375rem;
    background-color: #ddd;
    margin-right: .5rem;
    position: relative;
}

.time-line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: .0625rem;
    background: repeating-linear-gradient(90deg, #007BFF, #007BFF .125rem, transparent .125rem, transparent .25rem);
}

.reminder {
    position: absolute;
    background-color: #007BFF;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    top: 2.5rem;
    width: 60%;
    left: 4rem;
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1);
}

.reminder span {
    margin: 0;
    font-size: .825rem;
    color: white;
}

.btn-container {
    display: flex;
}

.circle-btn {
    border-radius: 50%;
    background-color: white;
    border: .125rem solid #2260FF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.circle-btn svg {
    width: 1.2rem;
    height: 1.2rem;
    color: #2260FF;
}

.actions {
    display: flex;
    align-items: center;
    position: absolute;
    top: .125rem;
    right: 0;
}

.actions button {
    background: none;
    border: none;
    color: white;
    font-size: .75rem;
    cursor: pointer;
}

.risk-patients {
    margin-top: .625rem;
}

.risk-patients h3 {
    font-size: 1rem;
    margin: .5rem 0;
    color: #242E49;
}

.patient-cards {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: .1875rem;
}

.patient-card {
    background-color: #007BFF;
    color: white;
    padding: .625rem;
    border-radius: .9375rem;
    text-align: center;
    min-width: 35%;
}

.patient-photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.patient-name {
    font-size: .85rem;
}

.patient-msg {
    min-height: 3.125rem;
}

.petient-msg {
    font-size: .75rem;
}

.contact-btn {
    background-color: #ffffff;
    color: #007BFF;
    border: none;
    font-weight: bold;
    width: 100%;
    border-radius: .75rem;
    padding: .3125rem;
    cursor: pointer;
    font-size: 1rem;
}

.current-load {
    margin-top: .625rem;
}

.load-summary {
    display: flex;
    justify-content: space-between;
}

.load-summary img {
    width: 100%;
    border-radius: .5rem;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: #2260FF;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 -.25rem .375rem rgba(0, 0, 0, 0.2);
}

.nav-item {
    flex: 1;
    font-size: 1rem;
    color: #4A90E2;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-item.active {
    flex: 1;
    color: #fff;
}

.nav-item .icon {
    width: 2.25rem;
    height: 2.25rem;
}

.navbar img {
    max-width: 100%;
    height: auto;
}

.dashboard {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}

.card {
    width: 40%;
    height: auto;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.blue-card {
    background-color: #2260FF;
}

.red-card {
    background-color: #FF5C5C;
}

.card-header {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
}

.card-header .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.count {
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0;
}

.chart-container {
    margin-top: .625rem;
    width: 100%;
    height: 3.125rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .625rem;
}
