/* Basic style reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 0;
    overflow: hidden; /* Prevent overflow scrolling */
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Changed to space-between for larger vertical spacing */
    width: 100%;
    height: 100%;
    padding: 5vh 0; /* Increased padding at the top and bottom */
    background-color: #ffffff;
}

/* Logo styles */
.logo img {
    width: 40vw; /* Adjusted the icon width to 40% of the viewport width */
    max-width: 200px; /* Added a maximum width of 200 pixels */
    margin-bottom: 10vh; /* Added bottom margin */
}

/* Welcome message styles */
.welcome-message h1 {
    font-size: 8vw; /* Increased font size to 8% of the viewport width */
    color: #333;
    margin-bottom: 5vh; /* Adjusted using viewport height for relative spacing */
    line-height: 1.2; /* Reduced line height to ensure spacing */
}

.highlight {
    color: #007bff; /* Blue text */
    font-weight: bold;
    display: block; /* Display "CaRe" on a new line */
}

/* Illustration styles */
.illustration img {
    width: 90vw; /* Adjusted using viewport width for relative size */
    height: auto;
    max-height: 50vh; /* Ensured the image doesn't exceed half the viewport height */
    object-fit: contain; /* Ensured the image's aspect ratio fits */
}
