.group-table-container {
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: .875rem;
  margin: .5rem .5rem 0 .5rem;
  height: calc(100vh - 14.0rem);
  position: relative;
}

.styled-table tbody {
  height: calc(100% - 3rem); /* Adjust based on the height of the header */
  overflow-y: auto;
  flex: 1 1 auto;
}

.operation-btn {
  color: #0F67FE;
  border: 1px solid #0F67FE;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: .5rem;
  cursor: pointer;
  margin-right: 5px;
  font-size: .85rem;
  min-width: 3.75rem;
}

.operation-btn:hover {
  background-color: #e6f0ff;
}

.filter-section {
  margin: .5rem .5rem 0 .5rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
  flex: auto;
  width: 25rem; /* Adjust width as needed */
  display: flex;
  height: 3rem;
  flex-direction: column;
}

/* Styling for the input field */
.search-input {
  width: calc(100% - 25px);
  margin: 0px 10px;
  height: 3rem;
  padding: 10px 15px 10px 40px; /* Padding to accommodate icon */
  border: 1px solid #d9d9d9; /* Light grey border */
  border-radius: .5rem; /* Rounded corners */
  font-size: 1rem; /* Font size */
  color: #ADB5BD; /* Grey text color */
  background-color: #fff; /* Light grey background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  outline: none; /* Remove default outline */
  background-image: url('/assets/search.png'); /* Path to search icon image */
  background-repeat: no-repeat; /* Prevent repeating the icon */
  background-size: 20px; /* Size of the icon */
  background-position: 10px center; /* Position icon inside input */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Input focus state */
.search-input:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2); /* Blue shadow on focus */
}

.search-input::placeholder {
  color: #ADB5BD; /* Lighter grey color for the placeholder */
  font-size: 1rem; /* Font size of the placeholder */
  opacity: 1; /* Ensures consistent color across browsers */
}

.group-info {
  display: flex;
  align-items: center;
}

.group-img {
  width: 34px;   /* Size of the image */
  height: 34px;  /* Size of the image */
  border-radius: 50%; /* Circular shape */
  object-fit: cover;  /* Ensure the image covers the area */
  margin-right: 10px; /* Space between the image and text */
}

.group-details {
  display: flex;
  flex-direction: column;
}

.group-name {
  font-weight: bold; /* Bold name text */
}

.group-id {
  font-size: 0.8rem; /* Smaller font for ID */
  color: #888; /* Light color for ID text */
}

.group-table-container {
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: .875rem;
  margin: .5rem .5rem 0 .5rem;
  height: calc(100vh - 14.0rem);
  position: relative;
}


